.btn{
     display:flex;
    align-items: center;
    justify-content: center;
    color:var(--lightgrey);
    border:2px solid var(--lightgrey);
    padding:0.7rem 1rem;
    border-radius: 0.7rem;
    cursor:pointer;
    font-weight: 600;
    text-align: center;
}
.btn-img{
   
    padding:0.5rem 0.7rem;
}
.btn-img img{
    width:1.5rem;
    height:1.5rem;
    filter:invert(.7);
}